/* Webfont: Lato-Bold */
@font-face {
  font-family: 'LatoWeb';
  src: url('~@@/assets/fonts/lato/Lato-Bold.woff2') format('woff2'),
       url('~@@/assets/fonts/lato/Lato-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

/* Webfont: Lato-BoldItalic */
@font-face {
  font-family: 'LatoWeb';
  src: url('~@@/assets/fonts/lato/Lato-BoldItalic.woff2') format('woff2'),
       url('~@@/assets/fonts/lato/Lato-BoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

/* Webfont: Lato-Italic */
@font-face {
  font-family: 'LatoWeb';
  src: url('~@@/assets/fonts/lato/Lato-Italic.woff2') format('woff2'),
       url('~@@/assets/fonts/lato/Lato-Italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url('~@@/assets/fonts/lato/Lato-Regular.woff2') format('woff2'),
       url('~@@/assets/fonts/lato/Lato-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}
