version: "3.4"

services:
  ########################################################
  # WEBAPP ###############################################
  ########################################################
  webapp:
    image: ocelotsocialnetwork/webapp:development
    build:
      target: development
    environment:
      - NODE_ENV="development"
      # - DEBUG=true
      # - NUXT_BUILD=/tmp/nuxt # avoid file permission issues when `rm -rf .nuxt/`
    volumes:
      # This makes sure the docker container has its own node modules.
      # Therefore it is possible to have a different node version on the host machine
      - webapp_node_modules:/app/node_modules
      # bind the local folder to the docker to allow live reload
      - ./webapp:/app

  ########################################################
  # BACKEND ##############################################
  ########################################################
  backend:
    image: ocelotsocialnetwork/backend:development
    build:
      target: development
    environment:
      - NODE_ENV="development"
      - DEBUG=true
    volumes:
      # This makes sure the docker container has its own node modules.
      # Therefore it is possible to have a different node version on the host machine
      - backend_node_modules:/app/node_modules
      # bind the local folder to the docker to allow live reload
      - ./backend:/app

  ########################################################
  # Neo4J ################################################
  ########################################################
  neo4j:
    image: ocelotsocialnetwork/neo4j:development
    ports:
      # Also expose the neo4j query browser
      - 7474:7474
    networks:
      # So we can access the playground from our host machine
      - external-net
  
  ########################################################
  # MAINTENANCE ##########################################
  ########################################################
  maintenance:
    image: ocelotsocialnetwork/maintenance:development

  mailserver:
    image: djfarrelly/maildev
    ports:
      - 1080:80
    networks:
      - external-net
volumes:
  webapp_node_modules:
  backend_node_modules:
