extend ../layout.pug

block content
  .content
  p= t('wrongEmail.introduction')
  a.button(href=actionUrl)= t('buttons.tryAgain')

  p= t('wrongEmail.ignoreStart') 
    a(href=ORGANIZATION_LINK)= APPLICATION_NAME
    = t('wrongEmail.ignoreEnd')
