/*
 * Spinner animations for loading state
 */
@keyframes os-spinner-dash {
  0% { stroke-dasharray: 1, 150; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 90, 150; stroke-dashoffset: -35; }
  100% { stroke-dasharray: 90, 150; stroke-dashoffset: -124; }
}
@keyframes os-spinner-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(2160deg); }
}
