extend ../layout.pug

block content
  .content
  p
    a.user(href=groupRelatedUserUrl)!= groupRelatedUserName  
    != t('userJoinedGroup', { groupName })
  a.button(href=groupUrl)= t('buttons.viewGroup')
