kind: Secret
apiVersion: v1
metadata:
  name: secret-{{ .Release.Name }}-backend
  labels:
    app.kubernetes.io/name:	"{{ .Chart.Name }}"
    app.kubernetes.io/instance:	"{{ .Release.Name }}"
    app.kubernetes.io/version: "{{ .Chart.AppVersion }}"
    app.kubernetes.io/component: "secret-backend"
    app.kubernetes.io/part-of:	"{{ .Chart.Name }}"
    app.kubernetes.io/managed-by: "{{ .Release.Service }}"
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
stringData:
  JWT_SECRET: "{{ .Values.BACKEND.JWT_SECRET }}"
  MAPBOX_TOKEN: "{{ .Values.MAPBOX_TOKEN }}"
  PRIVATE_KEY_PASSPHRASE: "{{ .Values.BACKEND.PRIVATE_KEY_PASSPHRASE }}"
  SMTP_USERNAME: "{{ .Values.BACKEND.SMTP_USERNAME }}"
  SMTP_PASSWORD: "{{ .Values.BACKEND.SMTP_PASSWORD }}"
  #NEO4J_USERNAME: ""
  #NEO4J_PASSWORD: ""
  #REDIS_PASSWORD: ---toBeSet---
