extend ../layout.pug

block content
  .content
  - var postUrl = postUrl
  - var postAuthorUrl = postAuthorUrl
  p
    a.user(href=postAuthorUrl)= postAuthorName
    = t('followedUserPosted', { postTitle })
  a.button(href=postUrl)= t('buttons.viewPost')
