
$color-primary: #6e8b87;
$color-primary-light: #a6ff00;

$color-header-background: $color-primary;
$color-footer-background: $color-primary-light;

.main-navigation a {
    color: $color-primary-light;
}
.main-navigation a:hover {
    color: $color-neutral-100;
}

.main-navigation .locale-menu {
    color: $color-primary-light;
}

.main-navigation  .base-button {
    color: $color-primary-light;
}