/*
    *
    * Here, all SCSS variables and classes can be adapted to your custom design.
    *
*/

// @font-face {
//   font-family: Inter;
//   src: url('~@/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
// }

/* Webfont: Inter-Bold */
@font-face {
  font-family: 'Inter';
  src: url('~@/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

/* Webfont: Inter-BoldItalic */
@font-face {
  font-family: 'Inter';
  src: url('~@/assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

/* Webfont: Inter-Italic */
@font-face {
  font-family: 'Inter';
  src: url('~@/assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Inter-Regular */
@font-face {
  font-family: 'Inter';
  src: url('~@/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

$font-family-heading: 'Inter', Helvetica, Arial, Lucida, sans-serif;
$font-family-text: 'Inter', Helvetica, Arial, Lucida, sans-serif;

$color-tertiary: rgb(0, 168, 181);
$color-tertiary-light: rgb(182, 228, 234);

$color-primary: rgb(239, 124, 0);
$color-primary-light: $color-tertiary;
$color-primary-dark: color.adjust($color-tertiary, $lightness: -20%);
$color-primary-active: rgb(255, 172, 23);
$color-primary-inverse: rgb(255, 238, 212);

$color-secondary: rgb(56, 57, 55);
$color-secondary-light: rgb(230, 231, 231);
$color-secondary-dark: rgb(25, 26, 24);
$color-secondary-active: rgb(135, 135, 135);
$color-secondary-inverse: rgb(226, 230, 218);

$text-color-link: $color-primary;
$text-color-link-active: $color-primary-light;

$background-color-primary: $color-primary;
$background-color-primary-active: $color-primary-active;
$background-color-primary-inverse: $color-tertiary-light;

$border-color-active: $color-primary;

$color-header-background: $color-secondary;
$color-footer-background: $color-secondary-active;

$color-locale-menu: $color-primary;

$color-donation-bar: $color-secondary;

$color-toast-blue: rgb(0, 142, 230);
$color-toast-green: $color-primary-light;

$color-ribbon-announcement: rgb(84, 167, 252);
$color-ribbon-announcement-shadow: color.adjust($color-ribbon-announcement, $lightness: -20%);
$color-ribbon-article: $color-tertiary;
$color-ribbon-article-shadow: color.adjust($color-ribbon-article, $lightness: -20%);
$color-ribbon-event: $background-color-third-active;
$color-ribbon-event-shadow: color.adjust($color-ribbon-event, $lightness: -20%);

$chat-sidemenu-background-over: color.adjust($color-tertiary-light, $lightness: -10%);
$chat-sidemenu-background-active: $color-tertiary-light;
$chat-message-bg-me: $color-tertiary-light;
$chat-message-bg-others: $color-secondary-light;
$chat-message-checkmark-seen: $color-primary;
$chat-message-checkmark: $text-color-inverse;
$chat-room-color-counter-badge: $color-primary-inverse;
$chat-room-background-counter-badge: $color-primary;
$chat-icon-add: $color-primary-light;
$chat-icon-send: $color-primary-light;
$chat-icon-emoji: $color-primary-light;

body, .ds-list, .ds-chip {
  font-family: $font-family-text !important;
}

/* "a" link colors */
a {
  color: $color-primary;
}
a:hover {
  color: $color-primary-light;
}

.base-button.--circle.post-add-button-top {
  background-color: $color-secondary-active;
  border-color: $color-secondary-active;
}
a:hover > .base-button.--circle.post-add-button-top {
  background-color: $color-secondary;
  border-color: $color-secondary-dark;
}

/* ds-menu-item link colors */
a.ds-menu-item-link {
  color: $color-primary;
}
a:hover.ds-menu-item-link {
  color: $color-primary-light;
}
.ds-menu-item-link.router-link-exact-active {
  color: $color-primary;
  border-left-color: $color-primary;
}

.v-popover.open .trigger a {
  color: $color-primary;
}

.main-navigation a {
  color: white;
  // text-transform: uppercase;
  // font-size: 16px;
  // font-weight: 500;
}
// .main-navigation a:hover {
//   color: rgba(255, 255, 255, .8);
// }

.main-navigation .router-link-exact-active {
  color: $color-secondary !important;
}

.main-navigation .locale-menu {
  color: white;
}

.main-navigation .base-button {
  color: white;
}

// #nav-search-box .hc-hashtag a {
.hc-hashtag a {
  color: $color-primary;
}
.hc-hashtag a:hover {
  color: $color-primary-light;
}

.user-teaser:hover .slug {
  color: $color-primary-light;
}

#footer {
  background-color: $color-secondary-active;
}
#footer a {
  color: $color-secondary-inverse;
}
#footer a:hover {
  color: color.adjust($color-primary-light, $lightness: -10%);
}

.avatar-menu .profile-avatar {
  color: $color-primary;
}

.profile-avatar .initials {
  color: $color-primary;
}

// .branding-menu .ds-text {
//   font-family: 'Overpass', Helvetica, Arial, Lucida, sans-serif;
//   font-weight: 500;
//   text-transform: uppercase;
//   font-size: 16px;
// }

/* avoid uppercase for user slug */
// span.slug {
//   text-transform: none;
// }

.ds-footer {
  // font-family: 'Overpass', Helvetica, Arial, Lucida, sans-serif;
  // text-transform: uppercase;
  // font-size: 16px;
  font-weight: 600;
}

/* chips with primary color */
.ds-chip-primary {
  background-color: $color-tertiary;
}

/* number count color */
div.ds-number > p.ds-number-count {
  color: $text-color-base;
}

/* active tab border bottom color */
div.tab-navigation li.Tabs__tab {
  border-bottom-color: $color-primary;
}

/* submit button color group form */
// form.group-form button.ds-button-primary {
/* ds-button with primary color */
.ds-button-primary {
  background-color: $color-primary;
}

/* color of active filter tags in post teaser */
span.category-tag.filterActive {
  background-color: $color-primary;
}

/* input */
div.ds-input-wrap > input:focus-within.ds-input {
  border-color: $color-primary;
}
// div .ds-form-item .ds-input-has-focus {
//   border-color: $color-primary;
// }
// div.ds-input-has-focus {
//   border-color: $color-primary;
// }
// div.ds-select:focus {
//   border-color: $color-primary;
// }

/* checkbox */
[type="checkbox"] {
  accent-color: $color-primary-light;
}
