.main-navigation {
    background-color: #748885;
}
.main-navigation .ds-menu-item-link {
    color: #c8fc4f;;
}

.main-navigation .ds-menu-item-link:hover {
    color: #f2f2f1;;
}

.main-navigation .locale-menu {
    color: #c8fc4f;;
}

.base-button {
    color: #c8fc4f;
}

.header-menu {
    // background-color: #748885;
}
.ds-menu-item-link {
    color: antiquewhite;
}