/*
    *
    * Here, all SCSS variables and classes can be adapted to your custom design.
    *
*/

@font-face {
  font-family: Inter;
  src: url('~@/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
}

$font-family-heading: 'Inter', Helvetica, Arial, Lucida, sans-serif;
$font-family-text: 'Inter', Helvetica, Arial, Lucida, sans-serif;

$color-tertiary: rgb(0, 168, 181);
$color-tertiary-light: rgb(182, 228, 234);

$color-primary: rgb(239, 124, 0);
$color-primary-light: $color-tertiary;
$color-primary-dark: color.adjust($color-tertiary, $lightness: -20%);
$color-primary-active: rgb(255, 172, 23);
$color-primary-inverse: rgb(255, 238, 212);

$color-secondary: rgb(56, 57, 55);
$color-secondary-light: rgb(230, 231, 231);
$color-secondary-dark: rgb(25, 26, 24);
$color-secondary-active: rgb(135, 135, 135);
$color-secondary-inverse: rgb(226, 230, 218);

$text-color-link: $color-primary;
$text-color-link-active: $color-primary-light;

$background-color-primary: $color-primary;
$background-color-primary-active: $color-primary-active;
$background-color-primary-inverse: $color-tertiary-light;

$border-color-active: $color-primary;

$color-header-background: $color-secondary;
$color-footer-background: $color-secondary-active;

$color-locale-menu: $color-primary;

$color-donation-bar: $color-secondary;

$color-toast-blue: rgb(0, 142, 230);
$color-toast-green: $color-primary-light;

$color-ribbon-announcement: rgb(84, 167, 252);
$color-ribbon-announcement-shadow: color.adjust($color-ribbon-announcement, $lightness: -20%);
$color-ribbon-article: $color-tertiary;
$color-ribbon-article-shadow: color.adjust($color-ribbon-article, $lightness: -20%);
$color-ribbon-event: $background-color-third-active;
$color-ribbon-event-shadow: color.adjust($color-ribbon-event, $lightness: -20%);

$chat-sidemenu-background-over: color.adjust($color-tertiary-light, $lightness: -10%);
$chat-sidemenu-background-active: $color-tertiary-light;
$chat-message-bg-me: $color-tertiary-light;
$chat-message-bg-others: $color-secondary-light;
$chat-message-checkmark-seen: $color-primary;
$chat-message-checkmark: $text-color-inverse;
$chat-room-color-counter-badge: $color-primary-inverse;
$chat-room-background-counter-badge: $color-primary;
$chat-icon-add: $color-primary-light;
$chat-icon-send: $color-primary-light;
$chat-icon-emoji: $color-primary-light;

body, .ds-button, .ds-chip, .ds-copy-field, .ds-list, .ds-select-search, .ds-tag, .ds-text {
  font-family: $font-family-text !important;
}
.ds-heading {
  font-family: $font-family-heading !important;
}

/* "a" link colors */
a {
  color: $color-primary;
}
a:hover {
  color: $color-primary-light;
}

.base-button.--circle.post-add-button-top {
  background-color: $color-secondary-active;
  border-color: $color-secondary-active;
}
a:hover > .base-button.--circle.post-add-button-top {
  background-color: $color-secondary;
  border-color: $color-secondary-dark;
}

/* ds-menu-item link colors */
a.ds-menu-item-link {
  color: $color-primary;
}
a:hover.ds-menu-item-link {
  color: $color-primary-light;
}
.ds-menu-item-link.router-link-exact-active {
  color: $color-primary;
  border-left-color: $color-primary;
}

.v-popover.open .trigger a {
  color: $color-primary;
}

.main-navigation a {
  color: white;
}
.main-navigation .router-link-exact-active {
  color: $color-secondary !important;
}

.main-navigation .locale-menu {
  color: white;
}

.main-navigation .base-button {
  color: white;
}

.hc-hashtag a {
  color: $color-primary;
}
.hc-hashtag a:hover {
  color: $color-primary-light;
}

.user-teaser:hover .slug {
  color: $color-primary-light;
}
.profile-avatar.--no-image {
  background-color: $color-secondary;
}
.profile-avatar.--no-image .initials {
  font-weight: $font-weight-bold;
}
.profile-page-avatar.profile-avatar.--no-image {
  background-color: $color-primary;
}
.profile-page-avatar.profile-avatar.--no-image .initials {
  color: $color-primary-inverse;
}

#footer {
  background-color: $color-secondary-active;
}
#footer a {
  color: $color-secondary-inverse;
}
#footer a:hover {
  color: color.adjust($color-primary-light, $lightness: -10%);
}

.avatar-menu .profile-avatar {
  color: $color-primary;
}

.profile-avatar .initials {
  color: $color-primary;
}

.ds-footer {
  font-weight: 600;
}

/* chips with primary color */
.ds-chip-primary {
  background-color: $color-tertiary;
}

/* number count color */
div.ds-number > p.ds-number-count {
  color: $text-color-base;
}

/* active tab border bottom color */
div.tab-navigation li.Tabs__tab {
  border-bottom-color: $color-primary;
}

/* ds-button with primary color */
.ds-button-primary {
  background-color: $color-primary;
}

/* color of active filter tags in post teaser */
span.category-tag.filterActive {
  background-color: $color-primary;
}

/* input */
div.ds-input-wrap > input:focus-within.ds-input {
  border-color: $color-primary;
}
// div .ds-form-item .ds-input-has-focus {
//   border-color: $color-primary;
// }
// div.ds-input-has-focus {
//   border-color: $color-primary;
// }
// div.ds-select:focus {
//   border-color: $color-primary;
// }

/* checkbox */
[type="checkbox"] {
  accent-color: $color-primary-light;
}

body.page-name-login,
body.page-name-registration,
body.page-name-password-reset-request {
  background-image: url('~@/static/img/RefNet-Hero_16x9_desktop_1920x1080.jpg');
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 900px) {
  body.page-name-login,
  body.page-name-registration,
  body.page-name-password-reset-request {
    background-image: url('~@/static/img/RefNet-Hero_3x4_mobile_900x1200.jpg');
  }
}

@media only screen and (max-width: 800px) {
  body.page-name-login,
  body.page-name-registration,
  body.page-name-password-reset-request {
    background-image: url('~@/static/img/RefNet-Hero_2x3_mobile_800x1200.jpg');
  }
}

// CSS Hack for removing quote block
.login-form blockquote {
  display: none;
}
// ^^^

// CSS Hack for adding text box
$text-box-shift-x: 500px;
$text-box-shift-y: 160px;
$text-box-shift-padding: 24px;
$text-box-width: 350px;

@media only screen and (min-width: 1201px) {
  .login-form
  // .registration-slider {
  {
    width: unset;
    max-width: unset;
    padding-left: $text-box-shift-x;
  }
}

.login-form article
// .registration-slider article
{
  overflow: visible;
}


.login-page:before,
.login-form article:before
// .registration-page:before,
// .registration-slider article:before
{
  color: #ffffff;
  padding: 24px;
  display: block;
  width: $text-box-width;
  background-color: rgba(0, 0, 0, 0.6);
}
.login-page:before
// .registration-page:before {
{
  content: 'Mitdenken.\A Mitreden.\A Mitwirken.';
  white-space: pre;
  font-size: 48px;
  position: relative;
  padding-bottom: calc($text-box-shift-padding / 2);
}
.login-form article:before
// .registration-slider article:before {
{
  content: 'Reformer.network - gemeinsam verändern wir die Gesellschaft.';
  font-size: 24px;
  position: absolute;
  top: 0;
  left: calc(-1 * $text-box-shift-x);
  padding-top: calc($text-box-shift-padding / 2);
}

@media only screen and (max-width: 1200px) {
  .login-page:before,
  .login-form article:before
  // .registration-page:before,
  // .registration-slider article:before
  {
    margin: 0 auto;
  }
  .login-page:before
  // .registration-page:before,
  {
    font-size: 36px;
  }
  .login-form article:before
  // .registration-slider article:before
  {
    font-size: 18px;
    top: calc(-1 * $text-box-shift-y);
    left: 0;
    right: 0;
  }
  .login-form
  // .registration-slider
  {
    padding-top: $text-box-shift-y;
  }
}

.login-page:before
// .registration-page:before
{
  font-weight: bold;
}
// ^^^
