name: ocelot.social check documentation

on: push

jobs:
  files-changed:
    name: Detect File Changes - Markdown files
    runs-on: ubuntu-latest
    outputs:
      markdown: ${{ steps.changes.outputs.markdown }}
      documentation: ${{ steps.changes.outputs.documentation }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4.1.7

      - name: Check for markdown file changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml
          list-files: shell

  check-markdown-links:
    name: Check Markdown links
    needs: files-changed
    runs-on: ubuntu-latest
    if: needs.files-changed.outputs.markdown == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4.1.7
      
      - name: Remove uncheckable documentation files
        run: rm -rf ./CHANGELOG.md # workaround until https://github.com/gaurav-nelson/github-action-markdown-link-check/pull/183 has been done

      - name: Check Markdown Links
        uses: gaurav-nelson/github-action-markdown-link-check@1b916f2cf6c36510a6059943104e3c42ce6c16bc # 1.0.15
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'no'
          # at any .md file change take the chance to check the links in all .md files
          check-modified-files-only: 'no'
          config-file: '.github/workflows/mlc_config.json'
          base-branch: 'master'
          folder-path: '.'

  test-vuepress-build:
    name: Test Vuepress build
    needs: files-changed
    runs-on: ubuntu-latest
    if: needs.files-changed.outputs.documentation == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4.1.7

      - name: Setup Node 20
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v4.0.3
        with:
          node-version: '20'

      - name: npm-install
        run: npm install

      - name: npm-docs:build
        run: npm run docs:build
