name: docker-push

on: push

jobs:
  build-and-push-images:
    strategy:
      matrix:
        app:
          - name: neo4j
            context: neo4j
            file: neo4j/Dockerfile
            target: community
          - name: backend-base
            context: backend
            file: backend/Dockerfile
            target: base
          - name: backend-build
            context: backend
            file: backend/Dockerfile
            target: build
          - name: backend
            context: backend
            file: backend/Dockerfile
            target: production
          - name: webapp-base
            context: .
            file: webapp/Dockerfile
            target: base
          - name: webapp-build
            context: .
            file: webapp/Dockerfile
            target: build
          - name: webapp
            context: .
            file: webapp/Dockerfile
            target: production
          - name: maintenance-base
            context: .
            file: webapp/Dockerfile.maintenance
            target: base
          - name: maintenance-build
            context: .
            file: webapp/Dockerfile.maintenance
            target: build
          - name: maintenance
            context: .
            file: webapp/Dockerfile.maintenance
            target: production
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}/${{ matrix.app.name }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4.1.7
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=ref,event=branch
            type=ref,event=pr
            type=sha
      - name: Build and push Docker images
        id: push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: ${{ matrix.app.context }}
          target:  ${{ matrix.app.target }}
          file:  ${{ matrix.app.file }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ matrix.app.name }}
          cache-to: type=gha,mode=max,scope=${{ matrix.app.name }}
