name: ocelot.social backend test CI


on: push

jobs:
  files-changed:
    name: Detect File Changes - Backend
    runs-on: ubuntu-latest
    outputs:
      backend: ${{ steps.changes.outputs.backend }}
      docker: ${{ steps.changes.outputs.docker }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4.1.7

      - name: Check for backend file changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml
          list-files: shell

  build_test_neo4j:
    name: Docker Build Test - Neo4J
    if: needs.files-changed.outputs.backend == 'true' || needs.files-changed.outputs.docker == 'true'
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4.1.7

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Neo4J | Build 'community' image
        uses: docker/build-push-action@v6
        with:
          context: neo4j
          file: neo4j/Dockerfile
          target: community
          load: true
          tags: ghcr.io/ocelot-social-community/ocelot-social/neo4j:community
          cache-from: type=gha,scope=neo4j
          cache-to: type=gha,mode=max,scope=neo4j

      - name: Save image for test job
        run: docker save "ghcr.io/ocelot-social-community/ocelot-social/neo4j:community" > /tmp/neo4j.tar

      - name: Cache docker images
        id: cache-neo4j
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v4.0.2
        with:
          path: /tmp/neo4j.tar
          key: ${{ github.run_id }}-backend-neo4j-cache

  build_test_backend:
    name: Docker Build Test - Backend
    if: needs.files-changed.outputs.backend == 'true' || needs.files-changed.outputs.docker == 'true'
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4.1.7

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: backend | Build 'test' image
        uses: docker/build-push-action@v6
        with:
          context: backend
          file: backend/Dockerfile
          target: test
          load: true
          tags: ghcr.io/ocelot-social-community/ocelot-social/backend:test
          cache-from: type=gha,scope=backend-test
          cache-to: type=gha,mode=max,scope=backend-test

      - name: Save image for test job
        run: docker save "ghcr.io/ocelot-social-community/ocelot-social/backend:test" > /tmp/backend.tar

      - name: Cache docker images
        id: cache-backend
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v4.0.2
        with:
          path: /tmp/backend.tar
          key: ${{ github.run_id }}-backend-cache

  lint_backend:
    name: Lint Backend
    if: needs.files-changed.outputs.backend == 'true'
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4.1.7

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v4.0.3
        with:
          node-version-file: 'backend/.nvmrc'
          cache: 'yarn'
          cache-dependency-path: 'backend/yarn.lock'

      - name: backend | Lint
        run: cd backend && yarn --frozen-lockfile && yarn run lint

  unit_test_backend:
    name: Unit tests - Backend
    if: needs.files-changed.outputs.backend == 'true' || needs.files-changed.outputs.docker == 'true'
    needs: [files-changed, build_test_neo4j, build_test_backend]
    runs-on: ubuntu-latest
    permissions: 
      checks: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4.1.7

      - name: Restore Neo4J cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v4.0.2
        with:
          path: /tmp/neo4j.tar
          key: ${{ github.run_id }}-backend-neo4j-cache
          fail-on-cache-miss: true

      - name: Restore Backend cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v4.0.2
        with:
          path: /tmp/backend.tar
          key: ${{ github.run_id }}-backend-cache
          fail-on-cache-miss: true

      - name: Load Docker Images
        run: |
          docker load < /tmp/neo4j.tar
          docker load < /tmp/backend.tar

      - name: backend | copy env files
        run: |
          cp webapp/.env.template webapp/.env
          cp backend/.env.template backend/.env

      - name: backend | docker compose
        run: docker compose -f docker-compose.yml -f docker-compose.test.yml up --detach backend

      - name: backend | Initialize Database
        run: docker compose exec -T backend yarn db:migrate init

      - name: backend | Migrate Database Up
        run: docker compose exec -T backend yarn db:migrate up

      - name: backend | Unit test incl. coverage check
        run: docker compose exec -T backend yarn test

